name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: true

      - name: Parse version
        id: version
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
          CLEAN_VERSION=${VERSION#v}
          echo "CLEAN_VERSION=${CLEAN_VERSION}" >> $GITHUB_OUTPUT

      - name: Commit and Push Version Bump
        run: |
          BRANCH_NAME="release/${{ steps.version.outputs.VERSION }}"
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git checkout -b $BRANCH_NAME
          git push -u origin $BRANCH_NAME

          sed -i 's/Version = "development"/Version = "${{ steps.version.outputs.VERSION }}"/' internal/version/version.go
          git add internal/version/version.go
          git commit -m "Bump version to ${{ steps.version.outputs.VERSION }}"

          git push

      - name: Build Binaries
        run: |
          mkdir -p build
          
          echo "Building for linux/amd64..."
          GOOS=linux GOARCH=amd64 go build -o build/clortho-server-linux-amd64 cmd/server/main.go
          
          echo "Building for linux/arm64..."
          GOOS=linux GOARCH=arm64 go build -o build/clortho-server-linux-arm64 cmd/server/main.go

      - name: Container registry login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/kubiqio/clortho:latest
            ghcr.io/kubiqio/clortho:${{ steps.version.outputs.VERSION }}


      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/clortho-server-linux-amd64
            build/clortho-server-linux-arm64
          draft: false
          prerelease: false
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
